#root {
    font-family: "Roboto Mono", monospace;
}

@keyframes blinkCursor {
    50% {
      border-right-color: transparent;
    }
  }
  
  @keyframes typeAndDelete {
    0%,
    10% {
      width: 0;
    }
    45%,
    55% {
      width: 17em;
    }
    90%,
    100% {
      width: 0;
    }
  }
  
  .terminal-loader {
    margin: 1rem 2rem;
    border: 0.1em solid #333;
    background-color: #1a1a1a;
    color: #0f0;
    font: monospace;
    font-size: 1em;
    padding: 1.5em 1em;
    width: 25em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .terminal-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1.5em;
    background-color: #333;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0 0.4em;
    box-sizing: border-box;
  }
  
  .terminal-controls {
    float: right;
  }
  
  .control {
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    margin-left: 0.4em;
    border-radius: 50%;
    background-color: #777;
  }
  
  .control.close {
    background-color: #e33;
  }
  
  .control.minimize {
    background-color: #ee0;
  }
  
  .control.maximize {
    background-color: #0b0;
  }
  
  .terminal-title {
    float: left;
    line-height: 1.5em;
    color: #eee;
  }
  
  .text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.2em solid green; /* Cursor */
    animation:
      typeAndDelete 8s steps(38) infinite, /* Adjusted duration and steps */
      blinkCursor 0.5s step-end infinite alternate;
    margin-top: 1.5em;
  }

nav {
    position: absolute;
    top: 5%;
    left: 72%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

nav a {
    background: linear-gradient(90deg, rgba(0, 187, 0, 0.363), #041f0248);
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgb(7, 53, 1);
    border: 2px solid transparent;
    border-color:rgb(3, 49, 3);
    color: #0b0;
    font: monospace;
    width: 7rem;
    text-align: center;
    padding: 0.3rem;
    font-size: 1.2em;
}