body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    background-image: radial-gradient(circle, #0f0f0f 1%, #000 99%);
    backdrop-filter: blur(1px);
    color: #00ff00;
    overflow-x: hidden;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between; /* Added to ensure footer stays at the bottom */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000;
    border-bottom: 2px solid #00ff00;
}

.terminal-title {
    font-size: 1.5rem;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    z-index: 2;
    color: #00ff00;
    text-decoration: none;
    padding: 5px 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.3s;
}

nav a:hover {
    background-color: #00ff00;
    color: #000;
    border-color: #00ff00;
}

/* Main Section */
main {
    flex: 1; /* Added to allow main section to take available space */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    animation: slideUp 1.5s ease-in-out forwards;
    animation-delay: 3s;
    margin-top: 9rem;
    margin-left: 32.59rem;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    top: 2.5%;
    left: 44.2%;
    position: absolute;
}

main p {
    font-size: 1rem; /* Reduced from 1.2rem */
    color: #00ff00;
    max-width: 800px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #000;
    color: #00ff00;
    font-size: 0.8rem;
    border-top: 2px solid #00ff00;
}

@keyframes slideUp {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-40%);
    }
}

@-webkit-keyframes honeycomb {
    0%,
    20%,
    80%,
    100% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  
    30%,
    70% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @keyframes honeycomb {
    0%,
    20%,
    80%,
    100% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  
    30%,
    70% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  .honeycomb {
    height: 20px;
    position: relative;
    left: -0.5%;
    scale: 0.5;
    width: 20px;
  }
  
  .honeycomb div {
    -webkit-animation: honeycomb 2.1s infinite backwards;
    animation: honeycomb 2.1s infinite backwards;
    background: #00ff00;
    height: 12px;
    margin-top: 6px;
    position: absolute;
    width: 24px;
  }
  
  .honeycomb div:after, .honeycomb div:before {
    content: '';
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    left: 0;
    right: 0;
  }
  
  .honeycomb div:after {
    top: -6px;
    border-bottom: 6px solid #00ff00;
  }
  
  .honeycomb div:before {
    bottom: -6px;
    border-top: 6px solid #00ff00;
  }
  
  .honeycomb div:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    left: -28px;
    top: 0;
  }
  
  .honeycomb div:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    left: -14px;
    top: 22px;
  }
  
  .honeycomb div:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    left: 14px;
    top: 22px;
  }
  
  .honeycomb div:nth-child(4) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    left: 28px;
    top: 0;
  }
  
  .honeycomb div:nth-child(5) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    left: 14px;
    top: -22px;
  }
  
  .honeycomb div:nth-child(6) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    left: -14px;
    top: -22px;
  }
  
  .honeycomb div:nth-child(7) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    left: 0;
    top: 0;
  }

@media screen and (max-width: 950px)
{
    .terminal-title {
        font-size: 1rem;
    }

    nav a {
        font-size: 0.8rem;
    }

    .honeycomb {
        left: 4%;
    }
}

@media screen and (max-width: 780px) {
    main h1 {
        font-size: 2.5rem;
    }

    main p {
        font-size: 0.9rem;
        width: 60%;
    }

    .honeycomb {
        left: -4%;
    }

    nav a {
        font-size: 0.8rem;
        margin: 0rem -1rem;
    }
}

@media screen and (max-width: 650px) {
    main h1 {
        font-size: 2rem;
    }

    main p {
        font-size: 0.8rem;
        width: 80%;
    }

    .honeycomb {
        left: -1.5%;
    }

    .terminal-title {
        font-size: 0.8rem;
    }

    nav a {
        font-size: 0.7rem;
        margin: 0rem -1rem;
    }
}

@media screen and (max-width: 540px) {
    main h1 {
        font-size: 1.5rem;
    }

    main p {
        font-size: 0.7rem;
        width: 90%;
    }

    .honeycomb {
        left: -1%;
    }

    .terminal-title {
        font-size: 0.7rem;
    }

    nav a {
        font-size: 0.6rem;
        margin: 0rem -1rem;
    }
}

@media screen and (max-width: 480px) {
    main h1 {
        font-size: 1.2rem;
    }

    main p {
        font-size: 0.6rem;
        width: 90%;
    }

    .honeycomb {
        left: 0%;
    }

    .terminal-title {
        font-size: 0.6rem;
    }

    nav a {
        font-size: 0.5rem;
        margin: 0rem -1rem;
    }
}

@media screen and (max-width: 430px) {
    main h1 {
        font-size: 1rem;
    }

    main p {
        font-size: 0.5rem;
        width: 90%;
    }

    .honeycomb {
        position: absolute !important;
        top: 6%;
        left: 4%; /* Adjusted from 10% to 0% */
    }

    .terminal-title {
        font-size: 0.5rem;
    }

    nav a {
        font-size: 0.4rem;
        margin: 0rem -1rem;
    }

    footer {
        font-size: 0.6rem;
    }
}

@media (max-width: 375px) and (max-height: 667px) {
    .honeycomb {
        position: absolute !important;
        top: 8%;
        left: 4%; /* Adjusted from 10% to 0% */
    }
}

@media (max-width: 360px) and (max-height: 740px) {
    .honeycomb {
        position: absolute !important;
        top: 8%;
        left: 4%; /* Adjusted from 10% to 0% */
    }
}

@media (max-height: 820px) {
    .honeycomb {
        position: absolute !important;
        top: 7%;
        left: 4%;
    }
}

@media (max-height: 710px) {
    .honeycomb {
        top: 8%;
    }
}

@media (max-height: 615px) {
    .honeycomb {
        top: 9%;
    }
}

@media (max-height: 570px) {
    .honeycomb {
        top: 10%;
    }
}

@media (max-height: 510px) {
    .honeycomb {
        top: 11%;
    }
}

@media (max-height: 460px) {
    .honeycomb {
        top: 12%;
    }
}

@media (max-height: 420px) {
    .honeycomb {
        top: 13%;
    }

    .home-section {
        margin-top: 2rem !important;
    }
}

@media (max-height: 380px) {
    .honeycomb {
        top: 14%;
    }
}

@media (max-height: 350px) {
    .honeycomb {
        top: 16%;
    }
}

@media (max-height: 320px) {
    .honeycomb {
        top: 18%;
    }
}

@media (max-height: 290px) {
    .honeycomb {
        display: none;
    }
}

@media screen and (max-width: 316px) {
    .honeycomb {
        top: 7%;
    }
}

@media screen and (max-width: 260px) {
    main h1 {
        font-size: 0.8rem;
    }

    main p {
        font-size: 0.4rem;
        width: 90%;
    }

    .honeycomb {
        top: 7%;
    }

    .terminal-title {
        font-size: 0.4rem;
    }

    nav a {
        font-size: 0.3rem;
        margin: 0rem -1rem;
    }
}

.card-container {
    width: 96%;
    position: aboslute;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 4rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 3s; /* Delay to match the card appearance timing */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.card {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #003a051f;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #00ff00;
    transition: 0.5s ease-out;
    overflow: visible;
    font: monospace;
}
   
   .card-details {
    color: #00ff00;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
    font: monospace;
   }
   
   .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #00ff00;
    color: #085a00;
    font: monospace;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
   .text-body {
    color: rgb(0, 112, 6);
   }
   
   /*Text*/
   .text-title {
    font-size: 1.5em;
    font-weight: bold;
   }
   
   /*Hover*/
   .card:hover {
    border-color: #00ff37;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
    background-color: #00ff37;
   }

   .carte {
    position: relative;
    left: 52%;
    scale: calc(1.2);
    font: monospace;
    margin-top: -7%;
    padding: 1rem 2rem;
    border-radius: 1.25rem;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 3s; /* Delay to match the carte appearance timing */
  }

  .loader {
    font-weight: 500;
    font-size: 25px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 40px;
    padding: 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
  }
  
  .words {
    overflow: hidden;
    position: relative;
  }

  .words::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      var(--bg-color) 10%,
      transparent 30%,
      transparent 70%,
      var(--bg-color) 90%
    );
    z-index: 20;
  }
  
  .word {
    display: block;
    height: 100%;
    color:#00ff00;
    padding-left: 6px;
    animation: spin_4991 4s infinite;
  }
  
  @keyframes spin_4991 {
    10% {
      -webkit-transform: translateY(-102%);
      transform: translateY(-102%);
    }
  
    25% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  
    35% {
      -webkit-transform: translateY(-202%);
      transform: translateY(-202%);
    }
  
    50% {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
    }
  
    60% {
      -webkit-transform: translateY(-302%);
      transform: translateY(-302%);
    }
  
    75% {
      -webkit-transform: translateY(-300%);
      transform: translateY(-300%);
    }
  
    85% {
      -webkit-transform: translateY(-402%);
      transform: translateY(-402%);
    }
  
    100% {
      -webkit-transform: translateY(-400%);
      transform: translateY(-400%);
    }
  }

@media screen and (max-width: 2560px) {
    .terminal-title {
        font-size: 1.5rem;
    }

    .terminal-text {
        margin-right: -80%;
    }
}