.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 99%;
}

.volume-control {
  position: absolute;
  color: #7ca3f3;
  z-index: 1000;
  top: 1rem;
  right: 1rem;
}

.lander {
  scale: 0.9;
  background: linear-gradient(110deg, #383838, #252525);
  width: 30%;
  height: 70%;
  border-radius: 20px;
  border: 1px solid #7ca3f3;
  box-shadow: -20px -20px 80px 1px #7ca3f3,
              20px 20px 80px 1px #b619bb;
  animation: float 6s ease-in-out infinite;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-top: 1rem;
  margin-left: 0.9rem;
  height: 10%;
  background: linear-gradient(110deg, #3b3b3b, #252525);
  border: 1px solid rgb(72, 148, 192);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 5px 7px 2px black;
}

.lander p {
  display: flex;
  justify-items: row;
}

.nav-text {
  display: flex;
  justify-items: row;
  width: 50%;
  margin-left: 1rem;
  justify-content: space-between;
}

.nav-text p {
  color: #5b6374;
  transition: 0.5s;
}

.nav-text p:hover {
  color: #7ca3f3;
  text-shadow: 1px 1px 15px #7ca3f3;
  transform: 0.5s;
}

.cross {
  position: relative;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  height: 5%;
  font-size: 1rem;
  color: rgb(119, 30, 30);
  text-shadow: 1px 1px 15px rgb(119, 30, 30);
  cursor: pointer;
}

.home-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  margin-top: -5.1rem;
  position: relative;
  z-index: -1;
  box-shadow: -2px -2px 80px 1px #7ca3f3 inset,
}

.home-text {
  position: absolute;
  top: 8rem;
  left: 1rem;
  font-family: 'Roboto', monospace;
  width: 80%;
  color: #7ca3f3;
}

.about-card {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 11rem;
  scale: 0.9;
  left: 2rem;
  width: 40%;
  opacity: 0.7;
  padding: 1rem;
  height: 13rem;
  border-radius: 20px;
  margin-top: -5.1rem;
  position: relative;
  z-index: -1;
  background-image: url('./image/aboutImg.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: -7px -7px 10px 5px #7ca3f3,
              7px 7px 10px 5px #b619bb;
}

.about-text {
  position: absolute;
  top: 4rem;
  margin-left: -0.765rem;
  background-color: rgb(53, 53, 53);
  border-radius: 20px;
  padding: 1.3rem;
  left: 1rem;
  font-family: 'Roboto', monospace;
  width: 80%;
  color: #7ca3f3;
}

.about-text a {
  color: #7ca3f3;
  text-decoration: none;
}


.contact-card {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 21rem;
  scale: 0.9;
  left: 18rem;
  width: 40%;
  padding: 1rem;
  height: 13rem;
  border-radius: 20px;
  margin-top: -5.1rem;
  position: relative;
  z-index: -1;
  background-image: url('./image/aboutImg.jpg');
  opacity: 0.7;
  background-size: cover;
  background-position: center;
  box-shadow: -7px -7px 10px 5px #7ca3f3,
              7px 7px 10px 5px #b619bb;
}

.contact-text {
  position: absolute;
  top: 4rem;
  margin-left: -0.765rem;
  background-color: rgb(53, 53, 53);
  border-radius: 20px;
  padding: 1.3rem;
  left: 1rem;
  font-family: 'Roboto', monospace;
  width: 80%;
  color: #7ca3f3;
}

.contact-text a {
  color: #7ca3f3;
  text-decoration: none;
}

.project-section {
  background-image: url('./image/projectImg.jpg');
  background-size: cover;
  background-position: center;
  width: 120%;
  height: 50%;
  border-radius: 20px;
  border: 1px solid #7ca3f3;
  box-shadow: -20px -20px 80px 1px #b619bb,
              20px 20px 80px 1px #7ca3f3;
  margin-top: -42rem;
  margin-left: -45rem;
  animation: float 10s ease-in-out infinite;
}

.project-section h1 {
  margin-left: 1rem;
  margin-top: 1rem;
  color: #7ca3f3;
}

.media-section {
  background: linear-gradient(110deg, #383838, #252525);
  width: 80%;
  height: 20%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  border: 1px solid #7ca3f3;
  box-shadow: -20px 20px 80px 1px #b619bb,
              20px -20px 80px 1px #7ca3f3;
  margin-top: -38rem;
  margin-left: -38rem;
  animation: float 9s ease-in-out infinite;
}

.media-section img {
  scale: 2;
  margin-left: 5rem;
}

.media-section p {
  margin-left: -4rem;
  margin-top: 7rem;
  color: #7ca3f3;
}

.container {
  background-color: #414141;
}
@keyframes bounce {
  0%,
  100% {
    translate: 0px 36px;
  }
  50% {
    translate: 0px 46px;
  }
}
@keyframes bounce2 {
  0%,
  100% {
    translate: 0px 46px;
  }
  50% {
    translate: 0px 56px;
  }
}

@keyframes umbral {
  0% {
    stop-color: #d3a5102e;
  }
  50% {
    stop-color: rgba(211, 165, 16, 0.519);
  }
  100% {
    stop-color: #d3a5102e;
  }
}
@keyframes partciles {
  0%,
  100% {
    translate: 0px 16px;
  }
  50% {
    translate: 0px 6px;
  }
}
#particles {
  animation: partciles 4s ease-in-out infinite;
}
#animatedStop {
  animation: umbral 4s infinite;
}
#bounce {
  animation: bounce 4s ease-in-out infinite;
  translate: 0px 36px;
}
#bounce2 {
  animation: bounce2 4s ease-in-out infinite;
  translate: 0px 46px;
  animation-delay: 0.5s;
}

.link-to-project {
  color: #7ca3f3;
  text-decoration: none;
  margin-left: 15rem;
}

.cv-section {
  width: 100%;
  height: 80%;
  margin-top: -10rem;
  border-radius: 20px;
  /* background: linear-gradient(110deg, #383838, #252525); */
  margin-left: 42rem;
  /* box-shadow: 20px -20px 80px 1px #7ca3f3,
              -20px 20px 80px 1px #b619bb; */
  animation: float 9s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

 .container::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background-image: radial-gradient(
    circle at 50% 50%,
    #0000 0,
    #0000 2px,
    hsl(0 0 4%) 2px
  );
  background-size: 8px 8px;
  --f: blur(1em) brightness(6);
  animation: hii 10s linear infinite;
}

@keyframes hii {
  0% {
    backdrop-filter: var(--f) hue-rotate(0deg);
  }
  to {
    backdrop-filter: var(--f) hue-rotate(360deg);
  }
}

.container {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 105%;
  --c: #09f;
  background-color: #000;
  background-image: radial-gradient(4px 100px at 0px 235px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 235px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 117.5px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 252px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 252px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 126px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 150px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 150px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 75px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 253px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 253px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 126.5px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 204px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 204px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 102px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 134px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 134px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 67px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 179px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 179px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 89.5px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 299px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 299px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 149.5px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 215px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 215px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 107.5px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 281px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 281px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 140.5px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 158px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 158px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 79px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 210px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 210px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 105px, var(--c) 100%, #0000 150%);
  background-size:
    300px 235px,
    300px 235px,
    300px 235px,
    300px 252px,
    300px 252px,
    300px 252px,
    300px 150px,
    300px 150px,
    300px 150px,
    300px 253px,
    300px 253px,
    300px 253px,
    300px 204px,
    300px 204px,
    300px 204px,
    300px 134px,
    300px 134px,
    300px 134px,
    300px 179px,
    300px 179px,
    300px 179px,
    300px 299px,
    300px 299px,
    300px 299px,
    300px 215px,
    300px 215px,
    300px 215px,
    300px 281px,
    300px 281px,
    300px 281px,
    300px 158px,
    300px 158px,
    300px 158px,
    300px 210px,
    300px 210px,
    300px 210px;
  animation: hi 150s linear infinite;
}

@keyframes hi {
  0% {
    background-position:
      0px 220px,
      3px 220px,
      151.5px 337.5px,
      25px 24px,
      28px 24px,
      176.5px 150px,
      50px 16px,
      53px 16px,
      201.5px 91px,
      75px 224px,
      78px 224px,
      226.5px 350.5px,
      100px 19px,
      103px 19px,
      251.5px 121px,
      125px 120px,
      128px 120px,
      276.5px 187px,
      150px 31px,
      153px 31px,
      301.5px 120.5px,
      175px 235px,
      178px 235px,
      326.5px 384.5px,
      200px 121px,
      203px 121px,
      351.5px 228.5px,
      225px 224px,
      228px 224px,
      376.5px 364.5px,
      250px 26px,
      253px 26px,
      401.5px 105px,
      275px 75px,
      278px 75px,
      426.5px 180px;
  }

  to {
    background-position:
      0px 6800px,
      3px 6800px,
      151.5px 6917.5px,
      25px 13632px,
      28px 13632px,
      176.5px 13758px,
      50px 5416px,
      53px 5416px,
      201.5px 5491px,
      75px 17175px,
      78px 17175px,
      226.5px 17301.5px,
      100px 5119px,
      103px 5119px,
      251.5px 5221px,
      125px 8428px,
      128px 8428px,
      276.5px 8495px,
      150px 9876px,
      153px 9876px,
      301.5px 9965.5px,
      175px 13391px,
      178px 13391px,
      326.5px 13540.5px,
      200px 14741px,
      203px 14741px,
      351.5px 14848.5px,
      225px 18770px,
      228px 18770px,
      376.5px 18910.5px,
      250px 5082px,
      253px 5082px,
      401.5px 5161px,
      275px 6375px,
      278px 6375px,
      426.5px 6480px;
  }
}

.cv-section p {
  color: #7ca3f3;
  height: 4rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  border: 2px solid #7ca3f3;
  justify-content: center;
  background: linear-gradient(110deg, #383838, #252525);
  border-radius: 20px;
  box-shadow: 10px 10px 50px #7ca3f3,
              -10px -10px 50px #b619bb;
  text-shadow: 0px 0px 16px #7ca3f3;
  font-size: 1.5rem;
}

.cv-section iframe {
  scale: 0.99;
  margin-top: -0.8rem;
  margin-left: -0.15rem;
  width: 100%;
  height: 80%;
  box-shadow: 5px 5px 50px #7ca3f3,
              -5px -5px 50px #b619bb;
  border-radius: 20px;
}

.cv-section a {
  color: #7ca3f3;
  font-size: 1.5rem;
  margin-top: 1rem;
  border: 2px solid #7ca3f3;
  background: linear-gradient(110deg, #383838, #252525);
  display: flex;
  justify-content: center;
  text-shadow: 0px 0px 16px #7ca3f3;
  text-decoration: none;
  border-radius: 20px;
  box-shadow: 10px 10px 50px #7ca3f3,
              -10px -10px 50px #b619bb;
}

@keyframes levelUpAnimation {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}

.level-up {
  position: absolute;
  color: #09f;
  font-weight: bold;
  text-shadow: #09f 0 0 10px;
  z-index: 20000;
  animation: levelUpAnimation 2s forwards;
}

 @media screen and (max-width: 320px) {
  .container {
    height: 180rem;
  }

  .lander {
    position: relative;
    width: 80%;
    height: 40rem;
  }

  .home-image {
    top: 0.3rem;
  }

  .nav {
    width: 80%;
    height: 8%;
  }

  .home-text {
    top: 4rem;
  }

  .home-text h1 {
    font-size: 1.5rem;
  }

  .home-text p {
    font-size: 0.8rem;
  }

  .home-footer {
    position: relative;
    top: 1rem;
  }

  .about-card {
    bottom: 4rem;
    left: 1rem;
    width: 4rem;
    height: 5.5rem;
  }

  .about-text p {
    display: none;
  }

  .about-text {
    display: flex;
    justify-content: center;
    height: 3.5rem;
    width: 3rem;
    left: 1rem;
    top: 1rem;
  }

  .contact-card {
    bottom: 6.45rem;
    left: 8rem;
    width: 4rem;
    height: 5.5rem;
  }

  .contact-text p {
    display: none;
  }

  .contact-text {
    display: flex;
    justify-content: center;
    height: 3.5rem;
    width: 3rem;
    left: 1rem;
    top: 1rem;
  }

  .project-section {
    position: relative;
    width: 100%;
    height: 40vh;
    margin-top: -0rem;
    margin-left: 0rem;
  }

  .link-to-project {
    position: relative;
    left: -14rem;
  }

  .media-section {
    position: relative;
    width: 80vw;
    margin-left: -0.5rem;
    top: 41.5rem;
  }

  .media-section img {
    scale: 1.5;
    margin-left: 1.65rem;
  }

  .media-section p {
    font-size: 0.8rem;
    margin-top: 5rem;
    margin-left: -3.5rem;
  }

  .cv-section {
    position: relative;
    bottom: -54rem;
    left: -42rem;
  }

  .cv-section p {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0rem 1rem;
    font-size: 1rem;
  }

  .cv-section a {
    padding: 1rem;
    font-size: 1rem;
  }
 }

 @media screen and (min-width: 321px) and (max-width: 376px) {
  .container {
    height: 180rem;
  }

  .lander {
    position: relative;
    width: 80%;
    height: 40rem;
  }

  .home-image {
    top: 0.3rem;
  }

  .nav {
    width: 90%;
    height: 8%;
  }

  .home-text {
    top: 4rem;
  }

  .home-text h1 {
    font-size: 1.5rem;
  }

  .home-text p {
    font-size: 0.8rem;
  }

  .home-footer {
    position: relative;
    top: 1rem;
  }

  .about-card {
    bottom: 4rem;
    left: 2rem;
    width: 4rem;
    height: 5.5rem;
  }

  .about-text p {
    display: none;
  }

  .about-text {
    display: flex;
    justify-content: center;
    height: 3.5rem;
    width: 3rem;
    left: 1rem;
    top: 1rem;
  }

  .contact-card {
    bottom: 6.45rem;
    left: 10rem;
    width: 4rem;
    height: 5.5rem;
  }

  .contact-text p {
    display: none;
  }

  .contact-text {
    display: flex;
    justify-content: center;
    height: 3.5rem;
    width: 3rem;
    left: 1rem;
    top: 1rem;
  }

  .project-section {
    position: relative;
    width: 100%;
    height: 40vh;
    margin-top: -0rem;
    margin-left: 0rem;
  }

  .link-to-project {
    position: relative;
    left: -12.5rem;
  }

  .media-section {
    position: relative;
    width: 80vw;
    margin-left: -0.5rem;
    top: 41.5rem;
  }

  .media-section img {
    scale: 1.5;
    margin-left: 2.5rem;
  }

  .media-section p {
    font-size: 0.8rem;
    margin-top: 5rem;
    margin-left: -3.5rem;
  }

  .cv-section {
    position: relative;
    bottom: -54rem;
    left: -42rem;
  }

  .cv-section p {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0rem 1rem;
    font-size: 1rem;
  }

  .cv-section a {
    padding: 1rem;
    font-size: 1rem;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  .container {
    height: 180rem;
  }

  .lander {
    position: relative;
    width: 80%;
    height: 40rem;
  }

  .home-image {
    top: 0.3rem;
  }

  .nav {
    width: 90%;
    height: 8%;
  }

  .home-text {
    top: 4rem;
  }

  .home-text h1 {
    font-size: 1.5rem;
  }

  .home-text p {
    font-size: 0.8rem;
  }

  .home-footer {
    position: relative;
    top: 1rem;
  }

  .about-card {
    bottom: 4rem;
    left: 3rem;
    width: 4rem;
    height: 5.5rem;
  }

  .about-text p {
    display: none;
  }

  .about-text {
    display: flex;
    justify-content: center;
    height: 3.5rem;
    width: 3rem;
    left: 1rem;
    top: 1rem;
  }

  .contact-card {
    bottom: 6.45rem;
    left: 12rem;
    width: 4rem;
    height: 5.5rem;
  }

  .contact-text p {
    display: none;
  }

  .contact-text {
    display: flex;
    justify-content: center;
    height: 3.5rem;
    width: 3rem;
    left: 1rem;
    top: 1rem;
  }

  .project-section {
    position: relative;
    width: 100%;
    height: 40vh;
    margin-top: -0rem;
    margin-left: 0rem;
  }

  .link-to-project {
    position: relative;
    left: -11rem;
  }

  .media-section {
    position: relative;
    width: 80vw;
    margin-left: -0.5rem;
    top: 41.5rem;
  }

  .media-section img {
    scale: 1.5;
    margin-left: 3rem;
  }

  .media-section p {
    font-size: 0.8rem;
    margin-top: 5rem;
    margin-left: -3.5rem;
  }

  .cv-section {
    position: relative;
    bottom: -54rem;
    left: -42rem;
  }

  .cv-section p {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0rem 1rem;
    font-size: 1rem;
  }

  .cv-section a {
    padding: 1rem;
    font-size: 1rem;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .container {
    height: 190rem;
  }

  .lander {
    position: relative;
    width: 80%;
    height: 40rem;
  }

  .home-image {
    top: 0.3rem;
  }

  .nav {
    width: 90%;
    height: 8%;
  }

  .home-text {
    top: 4rem;
  }

  .home-text h1 {
    font-size: 1.5rem;
  }

  .home-text p {
    font-size: 1rem;
  }

  .home-footer {
    position: relative;
    top: 1rem;
  }

  .about-card {
    bottom: 9rem;
    left: 3rem;
    width: 12rem;
    height: 11rem;
  }

  .about-text {
    height: 9rem;
    width: 10rem;
    left: 1.5rem;
    top: 1rem;
  }

  .contact-card {
    bottom: 17rem;
    left: 20rem;
    width: 12rem;
    height: 11rem;
  }

  .contact-text {
    height: 9rem;
    width: 10rem;
    left: 1.5rem;
    top: 1rem;
  }

  .project-section {
    position: relative;
    width: 100%;
    height: 40vh;
    margin-top: -9rem;
    margin-left: 0rem;
  }

  .link-to-project {
    position: relative;
    scale: 1.2;
    left: -1rem;
  }

  .media-section {
    position: relative;
    width: 80vw;
    margin-left: -0.5rem;
    top: 41.5rem;
  }

  .media-section img {
    scale: 2;
    margin-left: 7.4rem;
  }

  .media-section p {
    font-size: 1rem;
    margin-top: 6.5rem;
    margin-left: -4rem;
  }

  .cv-section {
    position: relative;
    bottom: -54rem;
    left: -42rem;
  }

  .cv-section p {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0rem 1rem;
    font-size: 1rem;
  }

  .cv-section a {
    padding: 1rem;
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    height: 190rem;
  }

  .lander {
    position: relative;
    width: 80%;
    height: 40rem;
  }

  .home-image {
    top: 0.3rem;
  }

  .nav {
    width: 96%;
    height: 8%;
  }

  .home-text {
    top: 4rem;
  }

  .home-text h1 {
    font-size: 1.5rem;
  }

  .home-text p {
    font-size: 1rem;
  }

  .home-footer {
    position: relative;
    top: 1rem;
  }

  .about-card {
    bottom: 11rem;
    left: 9rem;
    width: 12rem;
    height: 11rem;
  }

  .about-text {
    height: 9rem;
    width: 10rem;
    left: 1.5rem;
    top: 1rem;
  }

  .contact-card {
    bottom: 19rem;
    left: 28rem;
    width: 12rem;
    height: 11rem;
  }

  .contact-text {
    height: 9rem;
    width: 10rem;
    left: 1.5rem;
    top: 1rem;
  }

  .project-section {
    position: relative;
    width: 100%;
    height: 40vh;
    margin-top: -9rem;
    margin-left: 0rem;
  }

  .link-to-project {
    position: relative;
    scale: 1.2;
    left: 5.5rem;
  }

  .media-section {
    position: relative;
    width: 40rem;
    margin-left: 5rem;
    top: 41.5rem;
  }

  .media-section img {
    scale: 2;
    margin-left: 7.8rem;
  }

  .media-section p {
    font-size: 1rem;
    margin-top: 6.5rem;
    margin-left: -4rem;
  }

  .cv-section {
    position: relative;
    bottom: -54rem;
    left: -42rem;
  }

  .cv-section p {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0rem 1rem;
    font-size: 1rem;
  }

  .cv-section a {
    padding: 1rem;
    font-size: 1rem;
  }
}